body{
  background-color:black;
  background-image:url(../images/background.jpg);
  background-size:cover;
  background-attachment: fixed;
  min-height:100vh;
  color:white;
  padding: 2vmax 2vmax 2vmax 8vmax;
}
.cart-item-amount input{
  max-width: 40px;
}
.darker{
  background:rgba(0,0,0,0.5);
  padding:10px;
  margin:10px;
}
.darker .nav-link{
  color:white;
  font-weight: bold;
}

/* .card-body{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
}

.card-button{
  max-width: 10em;
}
*/

.productPicture {
  width: 200px;
  height: 200px;
  
}


#cartStyle{

padding: 0 10% 0 10%;

}

#startPage{
  
  padding: 2% 10% 1% 10%;
  
  }

#productPage{
  text-align: center;
  padding: 2% 5% 1% 5%;
  
  }
  #adminPage{
    text-align: center;
    padding: 2% 5% 1% 5%;
    
    }    
  .loginPage{
    text-align: center;
    padding: 2% 5% 1% 5%;
  }    
 
 .nav{

  width: 100%;
 } 

